<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" ng-model="funny"> Post Funny Video</input>
      <form class="form-horizontal" ng-hide="true" ng-show="funny" ng-submit="posting()">
        <fieldset>
            <!-- Form Name -->
            <legend class="add-text">Add New Funny Video</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Title</label>
              <div class="col-md-4">
                <input ng-model="title" type="text" id="title" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">URL</label>
              <div class="col-md-4">
              <input ng-model="link" type="text" id="link" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Description</label>
              <div class="col-md-4">
              <input ng-model="description" type="text" id="description" class="form-control input-md">
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label">Save</label>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
        </fieldset>
      </form>
      <div class="science-form" ng-controller="ScienceController as ScienceCtrl" >
        <input type="checkbox" ng-model="science"> Post Science Video</input>
        <form name="ScienceCtrl.form" class="form-horizontal" ng-hide="true" ng-show="science" ng-submit="ScienceCtrl.sciencePosting()">
          <fieldset>
            <!-- Form Name -->
            <legend class="add-text">Add New Science Video</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Title</label>
              <div class="col-md-4">
                <input ng-model="scienceTitle" type="text" id="scienceTitle" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">URL</label>
              <div class="col-md-4">
              <input ng-model="scienceLink" type="text" id="scienceLink" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Description</label>
              <div class="col-md-4">
              <input ng-model="scienceDescription" type="text" id="scienceDescription" class="form-control input-md">
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label">Save</label>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <input type="checkbox" ng-model="picture"> Post Picture</input>
      <form class="form-horizontal" ng-hide="true" ng-show="picture" ng-click="posting()">
        <fieldset>
            <!-- Form Name -->
            <legend class="add-text">Add New Funny Picture</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Title</label>
              <div class="col-md-4">
                <input ng-model="title" type="text" id="title" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">URL</label>
              <div class="col-md-4">
              <input ng-model="link" type="text" id="link" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Description</label>
              <div class="col-md-4">
              <input ng-model="description" type="text" id="description" class="form-control input-md">
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label">Save</label>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
        </fieldset>
      </form>
      <input type="checkbox" ng-model="music"> Post Music Video</input>
      <form class="form-horizontal" ng-hide="true" ng-show="music" ng ng-click="posting()">
        <fieldset>
            <!-- Form Name -->
            <legend class="add-text">Add New Music Video</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Title</label>
              <div class="col-md-4">
                <input ng-model="title" type="text" id="title" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">URL</label>
              <div class="col-md-4">
              <input ng-model="link" type="text" id="link" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Description</label>
              <div class="col-md-4">
              <input ng-model="description" type="text" id="description" class="form-control input-md">
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label">Save</label>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
