<!-- public/views/home.html -->

<!-- <div class="jumbotron text-center"> -->
    <!-- <img src="assets/images/cubes.svg" class="cubes"></img> -->
  <div class="centerer">
    <div class="container top">
      <div class="col-md-1 left top">
      </div>
      <div class="col-md-1 right">
      </div>
    </div>
    <div class="container bottom">
      <div class="col-md-1 left">
      </div>
      <div class="col-md-1 right" id="moving">
      </div>
    </div>
  </div>
    <h1 class="coming-soon">Coming soon.</h1>
<!-- </div> -->
