body {
  background-color: #EEEEEE;
}
.coming-soon {
  text-align: center;
  margin-top: 10%;
  margin-left: 3%;
}
.col-md-1 {
  border-style: solid;
  height: 100px;
  width: 100px;
}
.centerer {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 0%;
}
.jumbotron {
  background-color: white;
}
#moving {
 right: -20px;
 bottom: -20px;
}
.bottom .left {
  border-top: 0px;
}
.top .right {
  border-left: 0px;
}
.nav {
  margin-top: 0px;
  width: 100%;
  height: 75px;
}
.nav .name {
  margin-left: 20px;
  font-size: 2.5em;
}
.wrapper {
  background-color: #181C1F;
  min-width: 100%;
  color: #EEEEEE;
}
